@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 11% 16%;
    --card: 0 0% 100%;
    --card-foreground: 220 11% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 11% 16%;
    --primary: 36 37% 80%;
    --primary-foreground: 220 11% 16%;
    --secondary: 220 9% 25%;
    --secondary-foreground: 36 37% 80%;
    --muted: 220 9% 25%;
    --muted-foreground: 36 22% 85%;
    --accent: 35 19% 53%;
    --accent-foreground: 36 37% 80%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 36 22% 85%;
    --input: 36 22% 85%;
    --ring: 35 19% 53%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 220 11% 16%;
    --foreground: 36 22% 85%;
    --card: 219 10% 20%;
    --card-foreground: 36 22% 85%;
    --popover: 219 10% 20%;
    --popover-foreground: 36 22% 85%;
    --primary: 36 37% 80%;
    --primary-foreground: 220 11% 16%;
    --secondary: 220 9% 25%;
    --secondary-foreground: 36 22% 85%;
    --muted: 220 9% 25%;
    --muted-foreground: 36 17% 73%;
    --accent: 35 19% 53%;
    --accent-foreground: 36 37% 80%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 22% 85%;
    --border: 220 9% 25%;
    --input: 220 9% 25%;
    --ring: 35 19% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
